# Ignore everything
*
src/**

# Include project files
!src/
!src/**/*.rs
!Cargo.toml
!Cargo.lock

# Include README and LICENSE files
!Readme.md
!LICENSE.txt

# Include gitignore
!.gitignore

# Include .github directory and its contents
!.github/
!.github/**
