# Ignore everything
*
src/**

# Include project files
!src/
!src/**/*.rs
!src/plot_functions/
!src/data_analysis/
!src/data_input/
!build.rs
!Cargo.toml
!Cargo.lock

# Include bundled fonts
!fonts/
!fonts/**/*.ttf

# Include tests directory
!tests/
!tests/**/*.rs

# Include README and LICENSE files
!Readme.md
!LICENSE
!LICENSE_COMMERCIAL
!Overview.md

# Include gitignore
!.gitignore

# Include .github directory and its contents
!.github/
!.github/**


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
